<!DOCTYPE html>
<html>
<head>
	<title>{{ instance.title }}</title>
</head>
<body>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li
    {% if message.tags %} class="{{ message.tags }}"
    {% endif %}
    >
    {% if 'html_safe' in message.tags %}
    {{ message|safe }}
    {% else %}
    {{ message }}
    {% endif %}
    </li>
    {% endfor %}
</ul>
{% endif %}

{{ instance.title }}<br>
{{ instance.content }}<br>
{{ instance.posted }}<br>
{{ instance.last_updated }}<br>
</body>
</html>