{% extends 'base.html' %}
{% block content %}

<div class="col-sm-6 col-sm-offset-3">
	<h1>{{ function }}</h1>
	
	<div class="row">
		{% for post in listOfPosts %}
		<div>
			<div class="col-sm-12">
				<div class="thumbnail">
					{% if post.image %}
					<img src="{{ post.image.url }}" class="img-responsive">
					{% endif %}
					<div class="caption">
						{% if post.draft %}<small style="color: red;">Staff Only: Draft</small>{% endif %}
						{% if post.publish_date > today %}<small style="color: red;">Staff Only: Future Post</small>{% endif %}
						<h3><a href='/posts/{{ post.slug }}/'>{{ post.title }}</a> <small><a href="{{ post.get_absolute_url }}">{{ post.publish_date }}</a></small></h3>
						{% if post.user.get_full_name %}
						<p>Author: {{ post.user.get_full_name }}</p>
						{% else %}
						<p>Username: {{ post.user }}</p>
						{% endif %}
						<p><a href='{% url "posts:detail" slug=post.slug %}'><!-- {% lorem %} -->{{ post.content | truncatechars:140 | linebreaks }}</a></p>
						<p><a href="{{ post.get_absolute_url }}" class="btn btn-primary" role="button">View Post</a></p>
					</div>
				</div>
			</div>
		</div>
		<!-- {% cycle "" "<div class='col-sm-12'></div></div><div class='row'>" %} -->
		{% endfor %}
	</div>

	<div class="pagination">
		<span class="step-links">
			{% if listOfPosts.has_previous %}
			<a href="?page={{ listOfPosts.previous_page_number }}">previous</a>
			{% endif %}

			<span class="current">
				Page {{ listOfPosts.number }} of {{ listOfPosts.paginator.num_pages }}.
			</span>

			{% if listOfPosts.has_next %}
			<a href="?page={{ listOfPosts.next_page_number }}">next</a>
			{% endif %}
		</span>
	</div>

</div>
{% endblock content %}